* {
    box-sizing: border-box;
}

body {
    border: 1px solid red;
    font-family: Inter, sans-serif;
    width: 550px;
    margin: auto;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f55a5a;
    gap: 7px;
    height: 55px;
}

.logo-text {
    color: white;
    font-weight: 400;
    font-size: 15px;
}

.main {
    padding: 40px;
}

.card {
    display: flex;
    max-height: max-content;
    gap: 20px;
}

.cover-img {
    width: 125px;
    height: 168px;
    border-radius: 5px;
}

.info {
    padding-top: 20px;
}

.loc {
    display: flex;
    align-items: center;
    max-height: 25px;
}

.loc>h3 {
    margin: 0;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.17em;
    text-transform: uppercase;
    padding-left: 4px;
}

.loc>a {
    text-decoration-line: none;
    color: #918E9B;
    font-size: 11px;
    padding-left: 10px;
}

.loc-icon {
    width: 7px;
}

.title {
    margin-block:5px 0;
    font-size: 25px;
}

.duration {
    font-size: 12px;
    margin-bottom: 0px;
}

.description {
    font-size: 11px;
    max-width: 326px;
    color: #2b283a;
    margin-top: 6px;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.line {
    border: 1px solid #F5F5F5;
}